main {
  padding: 30px;
}

aside {
  padding: 30px 60px 30px 0;
}

.create-post-input {
  display: grid;
  grid-template-columns: 70px auto;
}

.create-post-input button {
  color: var(--color-blue1);
  font-size: 1rem !important;
  padding-left: 15px !important;
  text-align: left !important;
  max-width: 100% !important;
  background-color: var(--color-blue5);
}




.course-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
  font-size: 20px
}

.course-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Farger per kurs */
.software-icon {
  background: #28C846;
}

.front-icon {
  background: #6E6EDC;
}

.data-icon {
  background: #46A0FA;
}

.course-icon svg {
  width: 24px;
  height: 24px;
}

.cohort-name {
  margin-left: 50px;
  font-size: 16px;
  color: #64648C;
  margin-top: 4px;
}

.cohort-info {
  margin-top: 10px;
}

.course-name {
  font-size: 20px;
  font-weight: bold
}