.password-wrapper {
    position: relative;
  }
  
  .showpasswordbutton {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
