.user {
    display: flex;
    align-items: center; 
    padding: 8px 12px;
    position: relative; /* viktig for absolutt-posisjonering av popup */
    gap: 12px;
}


.user-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; 
  min-width: 0;     
}


.profile-circle{
    min-width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.user-name {
  margin: 0;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.pop-up {
  position: absolute;
  top: 0; /* juster etter behov */
  left: 100%; /* vises til høyre for knappen */
  margin-left: 10px;
  z-index: 10;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}


.edit-icon-wrapper {
  position: relative;
  display: inline-block;
}

.icon-button {
  width: 40px;
  height: 40px;
  margin-top: 4px;
  margin-left: 4px;
  background-color: #F0F5FA;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dots {
  display: flex;
  gap: 4px;
  font-size: 18px;
  color:#64648C;

}

.dot {
  line-height: 1;
}