.user {
    display: flex;
    align-items: center; 
    padding: 8px 12px;
    gap: 12px;
}

.user-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; 
  min-width: 0;   
}

.profile-circle{
    min-width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.user-name {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#000046;

} 

.user-role {
  font-size: 16px;  
  color:#64648C
}

.edit-icon-wrapper {
  position: relative;
  display: inline-block;
}

.icon-button {
  width: 40px;
  height: 40px;
  margin-top: 4px;
  margin-left: 4px;
  background-color: #F0F5FA;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dots {
  display: flex;
  gap: 4px;
  font-size: 18px;
  color:#64648C;

}

.dot {
  line-height: 1;
}

.menu-left {
  position: absolute;
  left: -500px; /* juster avstanden etter behov */
  top: 0;
  z-index: 1000;
}
